= form_for @muppet do |f|
  %p
    = f.label :name
    = f.text_field :name
  %p
    = f.label :color
    = f.text_field :color
  %p
    = f.label :city
    = f.text_field :city
  = submit_tag "Save Muppet"
